/* Абсолютные единицы:(px, cm, mm, in) */
/* Относительные единицы:(em, %, vh, vw) */

.text1{
    font-size: 2em;
    /* обычный стандарт умноженное на 2 */
}
.text3{
    font-size: 80%;
    /* 80% от родительского */
}
.div0{
    background-color: brown;
    width: 50vh;
    /* 1vh = 1% высоты окна. */
    height: 25vw;
    /* 1vw = 1% ширины окна */
}
.div1{
    background-color: rgb(95, 42, 165);
    /* RGBA только цифры*/
    width: 5cm;
    /* 5 сантиметров */
    height: 50mm;
    /* 50 миллиметров */
}
.div2{
    background-color: rgba(99, 165, 42, 0.7);
    /* RGBA только цифры и контроль прозрачности */
    width: 50%;
    /* 50% от родительского дива */
    height: 75%;
    /* 75% от родительского дива */
}
.div3{
    background-color: #0000FF;
    /* HEX буквы и цифры */
    width: 2in;
    /* тут в дюльмах */
    height: 1in;
}