body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: #f5f5f5;
}

.headers {
  display: flex;
  align-items: center;
  gap: 236px;
  padding: 16px 15px;
  background-color: #e1ede6;
}
.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
}
.headerLogoIn {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.palkys {
  display: none;
}

@media (min-width: 576px) {
  .palkys {
    display: flex;
    gap: 60px;
  }
  .palkys a {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #2c2d35;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
  }
  .palky {
    display: none;
  }
  .headers {
    padding: 16px 33px 16px 33px;
    gap: 124px;
  }
  .LogoHeader {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #598d66;
  }
  .headerLogo{
    background-color: #E1EDE6;
  }
  .vector{
    width: 510.00000000000193px;
    height: 0px;
    border: 1px solid #C3D1C6;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (min-width: 768px){
  .vector{
    display: none;
  }
  .headers .headerLogo{
    display: flex;
    flex-direction: row;
    gap: 101px;
  }

}
