body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;
}

.Logoipsum{
    background-color: white;
    padding: 12px 40px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 1440px;
}
.Logoipsum-left,.Logoipsum-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logoipsum-left{
    gap: 120px;
}
.Lsearch{
    display: flex;
    align-items: center;
    border: 1px solid #EEF0F3;
    margin: 12px 12px 14px 12px;
    padding-left: 12px;
    border-radius: 10px;
    gap: 10px;
    width: 352px;
    height: 41px;
}
.Lsearch input{
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
.nav a.active {
    color: #5C53E9;
}
.Lbutton{
    background-color: #000000;
    height: 41px;
    width: 121px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
}

.Suriken{
    background-color: white;
    padding: 20px 48px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 1440px;
}
.Suriken-right{
    display: flex;
    align-items: center;
    gap: 8px;
}
.Suriken-right  .Sbutton{
    border: none;
}
.Suriken-left{
    display: flex;
    align-items: center;
    gap: 32px;
}

.Sbutton{
    background-color: #5C53E9;
    height: 40px;
    width: 66px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 8px;
}
.Lnav{
    gap: 48px;
}

.MyLogo{
    padding: 25px 36px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 80px;
    width: 1440px;

}
.prime {
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
}
.secondary{
    font-size: 18px;
    font-weight: 1000;
    line-height: 100%;
    
}
.w a, .w{
    color: #000000;
}
.b a, .b{
    color: #FFFFFF;
}
.wordLogo{
    width: 100px;
    height: 30px;
    text-align: left;
    display: block;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    height: 30px;
    width: 130px;
}
p{
    padding: 0;
    margin: 0;
}
.headerLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchBox{
    width: 500px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111928;
    border-radius: 10px;
    border: 1px solid #D6D8DE;
    padding-left: 20px;
    padding-right: 10px;

}
.search-input{
    /* background-color: #111928; */
    background-color: #111928;
    border: none;
    outline: none;
}
.search-input::placeholder {
  color: #D6D8DE;   
}
input[type="text"] {
  color: #D6D8DE;           
}
