body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
}

.Logoipsum{
    background-color: white;
    padding: 12px 40px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logoipsum-left,.Logoipsum-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logoipsum-left{
    gap: 120px;
}
.Lsearch{
    display: flex;
    align-items: center;
    border: 1px solid #EEF0F3;
    padding: 12px 12px 14px 12px;
    border-radius: 10px;
    gap: 10px;
    width: 352px;
    height: 41px;
}
.Lsearch input{
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
.nav a.active {
    color: #5C53E9;
}
.Lbutton{
    background-color: #000000;
    height: 41px;
    width: 121px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
}

.Suriken{
    background-color: white;
    padding: 20px 48px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Suriken-right{
    display: flex;
    align-items: center;
    gap: 8px;

}
.Suriken-left{
    display: flex;
    align-items: center;
    gap: 32px;
}

.Sbutton{
    background-color: #5C53E9;
    height: 40px;
    width: 66px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 8px;
}
.Lnav{
    gap: 48px;
}
