.Loremm::before {
  content: "Sunkar";
  color: blue;
}
.H1::after {
  content: "&";
}
.content::after {
  content: "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
}
.content::before {
  content: "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
}
.content p::first-letter{
    color: burlywood;
}
.content p::first-line{
    font-weight: 700;
    font-size: 25px;
}
